<a href="https://colab.research.google.com/github/atharva-githubcom/nifty-fifty-project/blob/main/SHARE_RECOMMENDATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**DATASET  CLEANING**

In [2]:
import pandas as pd

# Load the dataset
file_path = "/content/drive/MyDrive/nifty_500_quarterly_results new.csv"
df = pd.read_csv(file_path)

# Check for null values
print("Null values before cleaning:")
print(df.isnull().sum())

# Choose a strategy to handle null values (e.g., fillna with mean)
# For example:
# df.fillna(df.mean(), inplace=True)  # Fill null values with mean of each column

# Implement your chosen strategy
# For example, to drop rows with any null values:
# df.dropna(inplace=True)

# Validate the results
print("\nNull values after cleaning:")
print(df.isnull().sum())

# Save the cleaned dataset to a new CSV file
cleaned_file_path = "cleaned_dataset.csv"
df.to_csv(cleaned_file_path, index=False)

print(f"\nCleaned dataset saved to '{cleaned_file_path}'.")

Null values before cleaning:
name                       0
NSE_code                   0
BSE_code                   0
sector                     0
industry                   0
revenue                    1
operating_expenses         1
operating_profit           1
operating_profit_margin    1
depreciation               1
interest                   1
profit_before_tax          1
tax                        1
net_profit                 1
EPS                        1
profit_TTM                 3
EPS_TTM                    3
dtype: int64

Null values after cleaning:
name                       0
NSE_code                   0
BSE_code                   0
sector                     0
industry                   0
revenue                    1
operating_expenses         1
operating_profit           1
operating_profit_margin    1
depreciation               1
interest                   1
profit_before_tax          1
tax                        1
net_profit                 1
EPS                        1
profit_TTM                 3
EPS_TTM                    3
dtype: int64

Cleaned dataset saved to 'cleaned_dataset.csv'.

**MACHINE LEARNING MODEL WHICH WILL RECOMMEND TOP 10 COMPANIES BY NAME **

In [17]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
import re

# Load the dataset
data = pd.read_csv("/content/cleaned_dataset.csv")

In [18]:
# Selecting the specified columns
selected_cols = ["name", "sector", "industry", "revenue", "operating_expenses", "operating_profit",
                 "operating_profit_margin", "depreciation", "interest", "profit_before_tax",
                 "tax", "net_profit", "EPS", "profit_TTM", "EPS_TTM"]

data = data[selected_cols]

In [19]:
# Preprocess numerical columns to remove commas and percentage symbols
numerical_cols = ["revenue", "operating_expenses", "operating_profit",
                  "operating_profit_margin", "depreciation", "interest",
                  "profit_before_tax", "tax", "net_profit", "EPS", "profit_TTM", "EPS_TTM"]

for col in numerical_cols:
    data[col] = data[col].apply(lambda x: re.sub('[,%]', '', str(x)))

In [20]:
# Convert numerical columns to float
data[numerical_cols] = data[numerical_cols].astype(float)

# Separate numerical and categorical columns
categorical_cols = ["sector", "industry"]

In [21]:
# Encode categorical variables
label_encoders = {}
for col in categorical_cols:
    label_encoders[col] = LabelEncoder()
    data[col] = label_encoders[col].fit_transform(data[col])

In [26]:
# Standardize numerical features
scaler = StandardScaler()
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])

# Rank shares based on industry names and company names
top_20_shares = data.sort_values(by=["industry", "name"]).head(20)

In [27]:
print("Top 10 recommended shares:")
print(top_20_shares[["name", "industry"]])  # Output company name and industry only

Top 10 recommended shares:
                                        name  industry
24                           Bajaj Auto Ltd.         0
78                        Eicher Motors Ltd.         0
105                       Hero MotoCorp Ltd.         0
236                   TVS Motor Company Ltd.         0
398                Anupam Rasayan India Ltd.         1
331                   Bayer Cropscience Ltd.         1
186                       PI Industries Ltd.         1
207                        Rallis India Ltd.         1
457                     Sharda Cropchem Ltd.         1
356             Sumitomo Chemical India Ltd.         1
253                                 UPL Ltd.         1
131                 InterGlobe Aviation Ltd.         2
107                 Hindalco Industries Ltd.         3
180          National Aluminium Company Ltd.         3
371                             Vedanta Ltd.         3
319       HDFC Asset Management Company Ltd.         4
301  Nippon Life India Asset Management Ltd.         4
376        UTI Asset Management Company Ltd.         4
12         Amara Raja Energy & Mobility Ltd.         5
384                   Asahi India Glass Ltd.         5